.home-hero-section .menu {
  background: #FAFAFA;
}
.home-hero-section .menu .menu-title {
  border-radius: 1rem 1rem 0 0;
  display: flex;
  align-items: center;
  background: #769840;
}
.home-hero-section .menu .menu-title .bi {
  color: white;
}
.home-hero-section .menu .menu-title {
  color: white;
}
.home-hero-section .menu .menu-title,
.home-hero-section .menu ul {
  padding: 0.6rem 1rem;
}
.home-hero-section .menu ul {
  border-radius: 0 0 1rem 1rem;
  border: 1px solid #E6E6E6;
  border-top: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.home-hero-section .menu ul li a {
  font-weight: 600;
  font-size: 1.1rem;
}

.icon-cards {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: 12fr;
}
@media screen and (min-width: 576px) {
  .icon-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .icon-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .icon-cards {
    grid-template-columns: repeat(5, 1fr);
  }
}
.icon-cards .icon-card {
  cursor: pointer;
  border: 1px solid #E6E6E6;
  border-radius: 1rem;
  padding: 1rem;
}
.icon-cards .icon-card > div {
  text-align: center;
}
.icon-cards .icon-card .icon {
  max-width: 120px;
  margin-bottom: 1rem;
}
.icon-cards .icon-card .card-title {
  font-weight: 600;
}
.icon-cards .icon-card {
  transition: all ease 300ms;
}
.icon-cards .icon-card:hover {
  background: #E6E6E6;
}
@media screen and (min-width: 992px) {
  .icon-cards .icon-card:hover {
    transform: translateY(-10px);
  }
}

.featured-products-section .featured-products {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .featured-products-section .featured-products {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .featured-products-section .featured-products {
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
.featured-products-section .featured-products .product-card .product-image .splide__track--nav > .splide__list > .splide__slide {
  border-radius: 1rem;
  overflow: hidden;
}
.featured-products-section .featured-products .product-card .product-image .splide__track--nav > .splide__list > .splide__slide.is-active {
  border-color: #769840;
}
.featured-products-section .featured-products .product-card:hover .product-image img {
  transform-origin: left;
}
.featured-products-section .featured-products .product-card:hover .product-image .thumbnail-splide img {
  transform: none;
}

.best-selling-products-section .best-selling-products {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 768px) {
  .best-selling-products-section .best-selling-products {
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .best-selling-products-section .best-selling-products {
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

.material-section .material-cards {
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .material-section .material-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .material-section .material-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
.material-section .material-cards .material-card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}
.material-section .material-cards .material-card img {
  transition: all ease 300ms;
}
.material-section .material-cards .material-card .material-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.4);
  transition: background ease 300ms;
}
.material-section .material-cards .material-card .material-content .card-title {
  color: white;
  font-weight: 500;
}
.material-section .material-cards .material-card .material-content .card-content * {
  color: rgba(255, 255, 255, 0.8509803922);
  font-weight: 500;
  display: none;
  overflow: hidden;
}
.material-section .material-cards .material-card:hover img {
  transform: scale(1.05);
}
.material-section .material-cards .material-card:hover .material-content {
  background: rgba(0, 0, 0, 0.6901960784);
}
.material-section .material-cards .material-card:hover .material-content .card-content * {
  display: block;
}

.benefit-section .benefit-grid {
  display: grid;
  margin-top: 1rem;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .benefit-section .benefit-grid {
    grid-template-columns: 4fr 8fr;
  }
}
@media screen and (min-width: 992px) {
  .benefit-section .benefit-grid {
    align-items: center;
    grid-template-columns: 3fr 6fr 3fr;
  }
}
.benefit-section .benefit-grid .main-image {
  border-radius: 1rem;
  border: 1px solid #E6E6E6;
  box-shadow: 0 0 10px #E6E6E6, 0 0 4px #54595F;
}
@media screen and (max-width: 992px) {
  .benefit-section .benefit-grid .main-image {
    position: sticky;
    top: 7.5rem;
  }
}
@media screen and (min-width: 768px) {
  .benefit-section .benefit-grid div:has(> .main-image) {
    grid-row: 1/span 2;
    grid-column: 2;
  }
}
.benefit-section .benefit-grid div:has(.benefit-card) {
  display: grid;
  gap: 1rem;
}
.benefit-section .benefit-grid div .benefit-card {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 2fr;
}
@media screen and (min-width: 768px) {
  .benefit-section .benefit-grid div .benefit-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
.benefit-section .benefit-grid div .benefit-card .card-title {
  margin: 1rem 0 0.5rem;
  line-height: 1;
  font-weight: 500;
}
.benefit-section .benefit-grid div .benefit-card .card-content {
  font-size: 1.1em;
}

.mattress-size-section .size-cards {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
}
@media screen and (min-width: 576px) {
  .mattress-size-section .size-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .mattress-size-section .size-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .mattress-size-section .size-cards {
    grid-template-columns: repeat(5, 1fr);
  }
}
.mattress-size-section .size-cards .size-card .image {
  border-radius: 1rem;
  border: 1px solid #769840;
}
.mattress-size-section .size-cards .size-card .card-title {
  font-weight: 600;
}

.cta-section {
  padding: 4rem;
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}
.cta-section img {
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  transition: all ease 300ms;
}
.cta-section:hover img {
  transform: scale(1.05);
  filter: saturate(0);
}
.cta-section > div {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .cta-section > div {
    grid-template-columns: repeat(2, 1fr);
  }
}
.cta-section > div .cta-title,
.cta-section > div .cta-title * {
  color: white !important;
}
.cta-section > div \ .cta-button {
  padding: 0.5rem 2rem;
}

.two-column-image-block {
  display: grid;
  gap: 0.1rem;
}
@media screen and (min-width: 992px) {
  .two-column-image-block {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-gallery img {
  border-radius: 1rem;
}

.faqs .faq-item .accordion-header .accordion-button {
  padding-top: 8px;
  padding-bottom: 8px;
}
.faqs .faq-item .accordion-header .accordion-button::after {
  background-color: #7A7A7A;
  border-radius: 50rem;
  padding: 1rem;
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/></svg>");
  background-position: center;
}
.faqs .faq-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #769840;
}
.faqs .faq-item .accordion-header .accordion-button:not(.collapsed)::after {
  background-color: #769840;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-dash-lg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8"/></svg>');
}/*# sourceMappingURL=sections.css.map */