@import "variables";
@import "mixins";

.bottom-drawer {
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: white;
  .d-grid {
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    .drawer-item {
      &.btn {
        border-radius: 0 !important;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $border;
      border-top: 1px solid $primary;
      height: 100%;
      .bi {
        font-size: 1.5rem;
      }
    }
  }
  & + footer {
    @media screen and (max-width: 991px) {
      margin-bottom: 70px;
    }
  }
}
.footer {
  border-top: 1px solid $border;
  .footer-body {
    background: $background-muted;
    grid-template-columns: 12fr;
    .brand-logo img {
      height: auto;
      @media screen and (max-width: 768px) {
        max-width: 100%;
      }
    }
    @media screen and (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      .brand-logo {
        grid-column: 1 / span 2;
      }
    }
    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(5, 1fr);
      .brand-logo {
        grid-column: auto;
      }
    }
    @media screen and (min-width: 768px) {
    }
  }
  .footer-newsletter {
    background: #333e48;
    color: white;
    & > div {
      display: grid;
      gap: 0.5rem;
      @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 2fr 2fr;
        align-items: center;
      }
      span {
        color: white;
      }
    }
  }
  .footer-social-links {
    a {
      transition: all ease 300ms;
      &:hover {
        background: $primary;
        border-color: $primary-dark!important;
        .bi {
          color: white;
        }
      }
    }
  }
  .bi {
    font-size: $icon-size;
  }
  .footer-links-group {
    .footer-title {
      color: $secondary;
      margin-bottom: 0.75rem;
      & + ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .nav-link {
          align-items: center;
        }
      }
    }
    &:last-child {
      @media screen and (min-width: 576px) {
        grid-column: 1 / span 2;
      }
      @media screen and (min-width: 768px) {
        grid-column: auto;
      }
    }
  }
  .nav-link {
    color: $secondary;
    &:hover {
      color: $primary;
    }
  }
}

#scroll-to-top {
  position: fixed;
  bottom: 3rem;
  opacity: 0;
  transform: translateY(2rem);
  transition: all ease 300ms;
  &.show {
    opacity: 1;
    transform: translateY(0);
  }
  @media screen and (max-width: 991px) {
    bottom: 6rem;
  }
  right: 1.5rem;
  background: white;
  border-radius: 50rem;
  .btn {
    font-size: 3.25rem;
  }
}

.payment-div > div {
  @include container();
}
