@import "variables";

@mixin heading($color: $secondary, $font-size: 1.5rem) {
  color: $color;
  font-size: $font-size;
  font-weight: 600;
}

@mixin body() {
    color: $secondary;
    font-size: 0.8rem;
}

@mixin container($padding: 1rem) {
  box-shadow: 0 0 6px $border;
  padding: $padding;
  border-radius: $border-radius;
}