$primary: #769840;
$primary_dark: #597231;
$secondary: #54595F;
$tertiary: #7A7A7A;
$background: #E6E6E6;
$background-muted: #FAFAFA;
$border: #E6E6E6;
$font-family-heading: "Montserrat", sans-serif;
$font-family-body: "Open Sans", sans-serif;
$border-radius: 1rem;
$global-font-size: 0.9rem;
$icon-size: 1.5em;