{% load wagtailimages_tags wagtailcore_tags my_tags my_filters menu_tags %}

{% with common_settings=settings.common.SiteSettings %}
<div class="bottom-drawer d-lg-none" x-init>
    <div class="d-grid">
        <a href="{% pageurl common_settings.shop_page %}" class="drawer-item">
            <span class="bi bi-cart-fill"></span>
            <span class="visually-hidden">Shop</span>
        </a>
        <div class="drawer-item">
            <a href="{% pageurl common_settings.wishlist_page %}" id="drawer-wishlist" class="position-relative" hx-get="/api/wishlist/quantity/" hx-swap="none" hx-trigger="load, refreshWishlistQuantity" @htmx:after-request="$store.wishlist.quantity=JSON.parse(event.detail.xhr.response).quantity">
                <span class="bi bi-heart-fill"></span>
                <span class="visually-hidden">Wishlist</span>
                <small class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <span class="text-white fw-semibold" x-text="$store.wishlist.quantity"></span>
                    <small class="visually-hidden">items in wishlist</small>
                </small>
            </a>
        </div>
        <div class="drawer-item" data-bs-toggle="offcanvas" data-bs-target="#cart-offcanvas">
            <button type="button" class="btn position-relative p-0" hx-on:click="htmx.trigger('#cart-offcanvas #cart-data', 'refreshCart');">
                <span class="bi bi-bag-fill"></span>
                <span class="visually-hidden">Cart</span>
                <small class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <span class="text-white fw-semibold" x-text="$store.cart.quantity"></span>
                    <small class="visually-hidden">items in cart</small>
                </small>
            </button>
        </div>
        <a href="{% pageurl common_settings.account_page %}" class="drawer-item">
            <span class="bi bi-person-fill"></span>
            <span class="visually-hidden">My Account</span>
        </a>
        <button class="drawer-item btn" type="button" data-bs-toggle="modal" data-bs-target="#search-modal">
            <span class="bi bi-search"></span>
            <span class="visually-hidden">Search</span>
        </button>
    </div>
</div>
<footer class="d-flex flex-column footer">
    <div class="d-grid py-5 px-3 gap-4 footer-body">
        <div class="brand-logo">
            <a href="{% site_root %}">
                {% image common_settings.logo format-webp width-500 class="w-100" %}
            </a>
        </div>
        <div class="footer-links-group">
            {% flat_menu "get_help_menu" template="menus/footer_menu.html" %}
        </div>
        <div class="footer-links-group">
            <div class="fs-5 fw-semibold footer-title">Popular Categories</div>
            <ul class="list-unstyled">
                {% for category in popular_categories %}
                <li class="nav-item">
                    <a href="{% pageurl shop_page %}?category={{ category.slug }}" class="nav-link">
                        {{ category.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="footer-links-group">
            {% flat_menu "useful_links_menu" template="menus/footer_menu.html" %}

        </div>
        <div class="footer-links-group">
            <div class="fs-5 fw-semibold footer-title">Contact</div>
            <ul class="list-unstyled">
                <li class="nav-item">
                    <a href="{{ common_settings.google_maps_url }}" class="nav-link d-flex" target="_blank" rel="noreferrer noopener">
                        <span class="bi bi-geo-alt me-3"></span>
                        <span>
                            {{ common_settings.address }}
                        </span>
                    </a>
                </li>
                {% for number in common_settings.contact_numbers|splitlines %}
                <li class="nav-item">
                    <a href="tel:{{ number|cut:' ' }}" class="nav-link d-flex" target="_blank" rel="noreferrer noopener">
                        <span class="bi bi-phone me-3"></span>
                        <span>
                            {{ number }}
                        </span>
                    </a>
                </li>
                {% endfor %}
                {% for email in common_settings.contact_emails|splitlines %}
                <li class="nav-item">
                    <a href="mailto:{{ email }}" class="nav-link d-flex" target="_blank" rel="noreferrer noopener">
                        <span class="bi bi-envelope me-3"></span>
                        <span>
                            {{ email }}
                        </span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="footer-newsletter py-5 px-3">
        <div>
            <div class="d-flex align-items-center gap-3">
                <span class="bi bi-envelope fs-3"></span>
                <span class="fs-5 fw-semibold h">Join Our Newsletter</span>
            </div>
            <span class="mb-md-0">
                Register now to get latest updates on promotions & coupons.
            </span>
            <form action="" class="newsletter-form">
                <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                <input type="submit" value="Subscribe" class="form-control mt-2 btn btn-primary">
            </form>
        </div>
    </div>
    <div class="footer-social-links py-4 px-3">
        <div class="d-flex flex-wrap gap-4 justify-content-center">
            {% for profile in common_settings.social_media_profiles.all %}
            <a href="{{ profile.url }}" target="_blank" rel="noreferrer noopener" class="nav-link border rounded-pill p-3">
                <span class="d-flex {{ profile.icon_class }} fs-3"></span>
                <span class="visually-hidden">Facebook</span>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center" style="gap: 0.5rem 1rem">
        <a href="#" class="nav-link fw-bold">New Arrivals</a>
        <a href="#" class="nav-link fw-bold">Best sale</a>
        <a href="#" class="nav-link fw-bold">Value of the day</a>
        <a href="#" class="nav-link fw-bold">Top 100 offers</a>
        <a href="#" class="nav-link fw-bold">Blog</a>
    </div>
    <div class="text-center footer-copyright pt-4 pb-5 px-3">
        <small style="font-size: 0.8em;">
            {{ settings.common.SiteSettings.site_title|default:"Site name" }} &copy; {{ now|date:'Y' }}. All rights reserved.
        </small>
    </div>
</footer>
<div id="scroll-to-top">
    <button class="btn text-primary rounded-pill p-0 bi bi-arrow-up-circle-fill d-flex">
        <span class="visually-hidden">Scroll to top</span>
    </button>
</div>
{% endwith %}