{% extends "base.html" %}
{% load wagtailcore_tags static my_tags my_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_page.css' %}{% static_timestamp %}">
<link rel="stylesheet" href="{% static 'css/product_card.css' %}{% static_timestamp %}">
{% endblock %}

{% block body_class %}product-page{% endblock %}

{% block content %}
{% with common_settings=settings.common.SiteSettings %}
<div class="d-flex flex-column gap-3">
    <div class="grid">
        <div class="p-3 pb-0 product-gallery">
            {% include "components/product_gallery.html" %}
        </div>
        <div class="p-3 pb-0 product-detail" x-data='{
            product: {{product.product_details|safe}},
            selected_variation: {{variation.id}},
            get active_variation() {
                return this.product.variations.find(v=>v.id==this.selected_variation)
            }
        }'>
            {% if product.product_categories %}
            <div class="categories">
                <small>
                    Categories:
                    {% for category in product.product_categories %}
                    <a href="{% pageurl shop_page %}?category={{ category.slug }}">
                        {{ category.title }}
                    </a>
                    {% endfor %}
                </small>
            </div>
            {% endif %}
            <h1>{{ product.title }}</h1>
            <div class="price">
                <template x-if="!active_variation?.sale_price">
                    <span class="base-price amt" x-text="active_variation.base_price"></span>
                </template>
                <template x-if="active_variation?.sale_price">
                    <div>
                        <span class="sale-price amt" x-text="active_variation.sale_price"></span>
                        <span class="base-price amt" x-text="active_variation.base_price"></span>
                    </div>
                </template>
            </div>
            <div>
                <hr>
                {% include_block product.short_description %}
            </div>
            <div class="variations">
                <hr>
                <form action="" method="post">
                    <div class="fs-5 h fw-semibold">Size<span class="fs-6" x-text="selected_variation ? ': ' + active_variation.attributes[0].value : ''"></span> </div>
                    <div class="items d-flex flex-wrap gap-2">
                        <template x-for="variation in product.variations">
                            <div>
                                <input type="radio" name="variation" :id="'v-' + variation.id" :value="variation.id" x-model="selected_variation">
                                <label :for="'v-' + variation.id" x-text="variation.attributes[0].value"></label>
                            </div>
                        </template>
                    </div>
                </form>
            </div>
            <div class="buy">
                <hr>
                <div class="fs-5 h fw-semibold">Quantity</div>
                {% if request.user and request.user.is_authenticated %}
                <form action="/api/basket/" hx-post="/api/basket/" hx-swap="none" method="post" x-data="{ qty: 1, buttonText: 'Add to Cart' }" class="d-flex gap-3" id="basket-form" @htmx:after-request="$data.buttonText='Added'; document.querySelector('*[data-bs-target=\'#cart-offcanvas\']').click();">
                    {% csrf_token %}
                    <input type="hidden" name="product_type" value="store_manager.ProductVariation">
                    <input type="hidden" name="product_id" :value="selected_variation">
                    <div class="qty">
                        <button class="btn btn-sub" type="button" @click="qty - 1 < 1 ? qty : qty--"><span class="bi bi-dash-lg"></span></button>
                        <input type="number" name="quantity" id="quantity" x-model.number="qty" min="1" max="10" @input="if (qty < 1) qty = 1; if (qty > 10) qty = 10;">
                        <button class="btn btn-add" type="button" @click="qty + 1 > 10 ? qty : qty++"><span class="bi bi-plus-lg"></span></button>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="bi bi-cart-plus text-white fs-5"></span> <span class="text-white fw-bold" x-text="buttonText"></span></button>
                </form>
                {% else %}
                <p class="fs-6 mt-3">Please <a href="{% url 'account_login' %}?next={{ request.path }}">login</a> to add to cart</p>
                {% endif %}
            </div>
            <hr>
            {% if variation.sku %}
            <span class="sku"><strong>SKU:</strong> <span x-text="active_variation.sku"></span></span>
            {% endif %}
        </div>
    </div>
    <hr>

    <div class="all-info">
        {% include "components/full_info.html" %}
    </div>
    <hr>
    <div class="recently-viewed">
        <h3>Recently Viewed</h3>
        <div class="products">
            {% for product in recently_viewed %}
            {% include "components/product_card.html" with product=product.product %}
            {% endfor %}
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}