<div class="quick-view-modal modal fade" id="quick-view-modal" tabindex="-1" aria-labelledby="quick-view-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="quick-view-modal-body">
                <div></div>
                {% include "components/htmx_indicator.html" %}
            </div>
        </div>
    </div>
</div>