{% extends "base.html" %}

{% block content %}
{{ order.total }}

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<form action="{% url 'payment_success' token=order.token %}" method="POST">
   <input type="hidden" name="order_id" value="{{ order.razorpay_order_id }}">
   <script>
       var options = {
           "key": "{{ settings.common.SiteSettings.test_api_key }}",
           "amount": "{{ order.total }}",
           "currency": "INR",
           "name": "Your Company Name",
           "description": "Payment Description",
           "order_id": "{{ order.razorpay_order_id }}",
           "callback_url": "{% url 'payment_success' token=order.token %}",
           "prefill": {
               "name": "John Doe",
               "email": "john@example.com",
               "contact": "9876543210"
           }
       };
       var rzp = new Razorpay(options);
       rzp.open();
   </script>
</form>

{% endblock %}